.panel_title {
  background-color: #eff4f7;
  width: 100%;
  padding: 13px 19px;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 14px;
  text-align: left;
  overflow: hidden;
  box-sizing: border-box;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  position: relative;
}

.panel_title_icon {
  transition: all 0.3s;
  transform: rotate(180deg);
  color: #c1c1c1;
  font-size: 12px;

  &__active {
      transform: rotate(0deg);
  }
}

.panel_iconBox {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.panel_cont {
  font-size: 14px;
  overflow: hidden;
  padding: 15px 20px;
  min-height: 20px;
  background: white;
  color: #787878;
  text-align: justify;
  line-height: 22px;
}

.fade_enter_active,
.fade_leave_active {
  transition: all 0.3s;
}

.fade_enter,
.fade_leave_to {
  opacity: 0.5;
}